/* #pie-def-wrapper {
    flex: 0 0 50%;
    height: 60vh;
    position: relative;
    background-color: rgba(182, 195, 184, 0.2);
    color: #FAFAFA;
    padding: 20px;
}

#pie-content {
    flex: 0 0 45%;
    display: flex;
    flex-flow: column;
}
  
#def-instr{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

#pie-definition {
    border-bottom: 1px solid #FAFAFA;
    margin-bottom: 1vh;
    height: 14vh;
    padding-bottom: 1vh;
} */

#pie-wrapper {
    height: 70vh;
}
  
#pie-chart-content {
flex: 0 0 45%;
display: flex;
flex-flow: column;
}

#pie-defs-wrapper {
flex: 0 0 50%;
height: 60vh;
position: relative;
}

#pie-instr{
position: absolute;
top: 50%;
left:50%;
transform: translate(-50%, -50%);
width: 100%;
text-align: center;
}

#state-law {
display: flex;
justify-content: space-around;
margin-top: 2vh;
}

#pie-definition {
border-bottom: 1px solid #FAFAFA;
margin-bottom: 1vh;
height: 14vh;
padding-bottom: 1vh;
}