html,
body,
#fullpage,
.section{
    height: 100%;
}

h1, h2, h3, h4, div, h5, h6 {
    margin: 0px;
}

html { font-size: 12px; }
h1 { font-size: 3.4em;  line-height: 1.05em; font-weight: 700; }
h2 { font-size: 1.55em; line-height: 1.35em; font-weight: 700; }
h3 { font-size: 1.2em; line-height: 1.35em; font-weight: 700; }
h4 { font-size: 1.55em; line-height: 1.35em; font-weight: 300; }
h5 { font-size: 1.2em;  line-height: 1.30em; font-weight: 400; }
h6 { font-size: 1em; line-height: 1.3em; font-weight: 400; }
h7 { font-size: 0.9em; line-height: 1em; font-weight: 400; }

body {
    font-family: 'Open Sans', sans-serif;
    color: #1A1A1A;
}

.text-def {
    font-size: 1.55em;  line-height: 1.30em; font-weight: 400;
}

.section {
    background-color: #cccccc;
    background-image: url("./img/concrete-wall.png");
}

.center-page {
    position: absolute;
    bottom: 60px;
    right: 50%;
}

.bg-image  {
    background-size: cover;
    background-repeat: no-repeat;
}

#title-bg {
    background-image: url("./img/title.png");
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
}

#fp-nav ul li .fp-tooltip {
    color: #850f04;
}

.dir {
    color: #850f04;
    font-weight: 700;
}

.section-container {
    width: 90%;
    margin: 0 auto;
}

.section-intro {
    margin-bottom: 50px;
    width: 80%;
    margin-top: 30px;
}

.viz-wrapper {
    display: flex;
    justify-content: space-between;
}

.insights-header {
    color: #850f04;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 0.5px solid #1A1A1A;
}

p.trans-text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.4em;
  line-height: 1.05em;
  font-weight: 700;
  padding-left: 35px;
  padding-right: 35px;
  line-height: 1.6;
}

#pill {
  width: 4%;
  height: 4%;
  padding-top: 25px;
}


#weedhead {
  width: 6%;
  height: 6%;
  padding-top: 25px;
}
#age {
  width: 5%;
  height: 5%;
  padding-top: 25px;
}

#globe {
  width: 5%;
  height: 5%;
  padding-top: 25px;
}

#skeleton {
  width: 5%;
  height: 5%;
  padding-top: 25px;
}
@media screen and (min-width: 1100px) {
    html {font-size: 10px }
}

@media screen and (min-width: 1300px) {
    html {font-size: 11px }
}

@media screen and (min-width: 1600px) {
    html {font-size: 14px }
}
