#pie-wrapper {
    height: 70vh;
}

#pie-chart-content {
    flex: 1 0 45%;
    display: flex;
    flex-flow: column;
}

#pie-chart {
}

#pie-defs-wrapper {
    flex: 0 0 50%;
    height: 60vh;
    position: relative;
    background-color: #b4b4b4;
    color: rgb(0, 0, 0);
    padding: 20px;
}

#pie-instr{
position: absolute;
top: 50%;
left:50%;
transform: translate(-50%, -50%);
width: 100%;
text-align: center;
}

#pie-definition {
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 1vh;
    height: 20vh;
    padding-bottom: 1vh;
}

#pie-definition-effects {
    height: 16vh;
    padding-bottom: 1vh;
    margin-bottom: 1vh;
}

#pie-defs-header {
    color: #850f04;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 0.5px solid #1A1A1A;
}

#pie-defs-effects-header {
    color: #850f04;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 0.5px solid #1A1A1A;
}

#pie-defs-pic {
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}
