#sunburst-wrapper {
    display: flex;
    justify-content: space-between;
}

#sunburst-chart-content {
    position: relative;
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0px;
    /*background-color: rgba(182, 195, 184, 0.4);*/
}

/* Contains the chart */
.sunburst-chart-svg {
    width: 100%;
    height: 60vh;
    position: relative;
    margin-bottom: 5%;
}

#pie-sequence {
  width: 700px;
  height: 70px;
}

#pie-sequence text.black{
  font-weight: 400;
  fill: black;
}

#pie-sequence text.white{
  font-weight: 400;
  fill: white;
}

.legendPie {
    font-size: 0.8em;
    font-weight: 400px;
}